html{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9bB6tyNLzVmp3eNUOQE-A2kC5cp1jA5kkaG5_8e_9gMWppnju);
  background-repeat:no-repeat;
}
.image{
  text-align: center;
}
legend{
  text-align: center;
  background-color:lightblue;
}
#player-name-form{
  margin-left:600px;
  margin-bottom:200px;
  margin-top:-400px;
}
